* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(180deg, #CAE7FE 0%, #6E62E4 100%);
    font-family: 'Nunito', sans-serif;
}

.dragged {
    z-index: 10;
}